.dropdown {
    width: 100%;
    height: 50px;
    margin: 1rem 0;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
    position: relative;
}

.dropdown label {
    font-size: 0.9rem;
    color: #333333;
}

.dropdown .dropdown_button {
    padding: 0 1rem;
    height: 50px;
    background: #fff;
    font-weight: normal;
    font-size: 0.9rem;
    color: #555;
    border: 1px solid #dddddd;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 60%;
    margin-left: 2rem;
    transition: 0.2s all ease-in-out;
}

.dropdown:hover .dropdown_button{
    border-color: #39a2db;
}

.dropdown .dropdown_button p{
    font-size: 1rem;
}

.dropdown .dropdown_content {
    position: absolute;
    top: 50px;
    right: 0;
    color: #555;
    font-weight: normal;
    font-size: small;
    width: 60%;
    z-index: 9999;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.dropdown .dropdown_content .dropdown-item {
    padding: 1rem 1.25rem;
    cursor: pointer;
    transition: all 0.2s;
}

.dropdown .dropdown_content .dropdown-item:hover {
    background: #f4f4f4;
}
@media only screen and (max-width: 1100px) {
  .dropdown{
    flex-direction: column-reverse;
    align-items: flex-start;
    height: fit-content;
  }
  .dropdown label{
    margin-left: 0;
    margin-bottom: 0.5rem;
    width:100%;
  }
  .dropdown .dropdown_button{
      margin-left: 0;
      width: 100%;
      height: 50px;
  }
  .dropdown .dropdown_content{
      width:100%;
      top: 75px;
  }
}

