.text_input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
  margin: 1rem 0;
}

.text_input input {
  width: 60%;
  height: 50px;
  outline: none;
  margin-left: 2rem;
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 0 1rem;
  font-size: 1rem;
}

.text_input input:hover {
  border-color: #39a2db;
}

.text_input input:focus {
  border-color: #185adb;
}

.text_input input:focus ~ label {
  color: #185adb;
}

.text_input label {
  font-size: 0.9rem;
  color: #333333;
}
