@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* outline: 1px solid yellow; */
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}
